*{
  /* box-sizing: border-box; */
  margin: 0 auto;
  
}
body,html{
  overflow-x: hidden;

}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: -18px;
  left: 70px;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed (0.5 = 50% transparent) */
}

.diagonal-cut {
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 70% 100%, 20% 100%, 0% 80%); */
  clip-path: polygon(100% 0%, 0% 0%, 30% 100%, 80% 100%, 100% 80%);

}

/*IDHR SEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.card{
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Define transition properties */

}
.card:hover{
  transform: scale(1.05); /* Increase size by 5% on hover */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 5px 10px rgba(0, 30, 126, 0.2);
}
.glow-background {
  position: absolute; /* Position the div over the gallery content */
  top: 0;
  left: 0;
  width: 100%; /* Match the width of the gallery container */
  height: 100%; /* Match the height of the gallery container */
  background-color: rgba(151, 151, 53, 0.2); /* Set a slight white background color */
  border-radius: 50%; /* Make the div round */
  filter: blur(150px); /* Apply a strong blur effect */
  /* Optional: Adjust these properties for customization */
  z-index: -1; 
  mix-blend-mode: lighten; /* Create a radiant glow effect */
}

.shadow-overlay {
  position: absolute;
  bottom: 10px; /* Start at the top of the image */
  left: 0; /* Start at the left of the image */
  width: 100%; /* Match the image width */
  height: 30%; /* Match the image height */
  /* background-color: rgba(5, 5, 5, 0.902);  */
  background-color: rgba(108, 218, 204, 0.648); /* Black color with 50% opacity */
  filter: blur(80px);
  opacity: 0.7;
}

@media (max-width: 850px) {
  .navbar {
    background-color: #65cabc22;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;
    z-index: 50;
  }
}
@media (max-width: 850px) {
  .nav-items {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(12, 12, 28);
    gap: 12px;
  }
}
@media (min-width: 860px)  {
  .navbar {
    display: none ;
  }
}
@media (min-width: 860px)  {
  .nav-items {
    display: none ;
  }
}
.servicesSoFar{
  background-color: #0307258e;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
